body {
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    background-color: #f5f5f5; /* Color de fondo */
}
h1{
    text-align: center; /* Alineación del texto */

}
.addBook {
    display: none; /* Oculta el formulario por defecto */
    position: fixed; /* Posiciona el formulario sobre el contenido de la página */
    top: 50%; /* Centra el formulario verticalmente */
    left: 50%; /* Centra el formulario horizontalmente */
    transform: translate(-50%, -50%); /* Asegura que el centro del formulario esté en el centro de la página */
    z-index: 1000; /* Asegura que el formulario esté por encima de todo lo demás en la página */
    /* El resto de tus estilos... */
}
#openForm {
    /* Estilos generales para el botón */
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Para que se muestren en la misma línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Espaciado externo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

#openForm:hover {
    /* Estilos para el botón cuando se pasa el ratón por encima */
    background-color: #0056b3; /* Cambia el color de fondo */
}
#formID label {
    /* Estilos para las etiquetas */
    font-weight: bold; /* Texto en negrita */
    display: block; /* Cada etiqueta en una nueva línea */
    
}
#formID{
    background-color: #f9f9f9; /* Color de fondo */
    border: 1px solid #000000; /* Borde */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    width: 300px; /* Ancho */
}
#formID input[type="submit"] {
    /* Estilos para el botón de envío */
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color de texto */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    padding: 10px;
}

.addBook input[type="text"], .addBook input[type="number"], .addBook input[type="checkbox"], .addBook input[type="submit"] {
    margin: 5px 0;
}
#root {
    /* Estilos generales para el contenedor de las tarjetas */
    display: flex; /* Organiza las tarjetas en una fila */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben en la actual */
    justify-content: space-around; /* Distribuye el espacio alrededor de las tarjetas de manera uniforme */
    padding: 20px; /* Espaciado interno */
    background-color: #f5f5f5; /* Color de fondo */
}

.book {
    /* Estilos generales para la tarjeta */
    background-color: #f9f9f9; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    margin: 20px; /* Espaciado externo */
    width: 200px; /* Ancho */
}

.book h2 {
    /* Estilos para el título */
    font-size: 20px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espaciado debajo del título */
}

.book p {
    /* Estilos para los párrafos */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espaciado debajo de los párrafos */
}

.book .delete, .book .read {
    /* Estilos para los botones */
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Para que se muestren en la misma línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Espaciado externo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}